#top_img{
    height: 460px;
    width: 100%;
    background-image: url(../img/common/taxi.jpg);
    background-size: 100% 100%
}
#title{
    height: auto;
    width:auto;
    background-color: #35c156;
}
#title h1{
    margin:auto 30px 0px 30px;
    font-weight: 400;
    border-bottom: 4px solid #383838;
}
#mapcontainer{
    height:650px;
    width:100%;
}

#panel{
    position: absolute;
    background-color: rgba(0, 134, 36, 0.93);
    width: 600px;
    height: 480px;
    top: 600px;
    left: 100px;
}

.panel_tag{
    float:left;
    width:270px;
    height: 100px;
    margin:10px 15px;
}
.panel_tag-img{
    float:left;
    height: 60px;
    width: 60px;
    margin-top: 20px;
    background-size: 100% 100%;
}
.panel_tag-content{
    float: left;
    height:100%;
    width:210px;
    border-bottom: 1px solid #5d5d5d
}
.panel_tag-content-title{
    padding-left:20px ;
    font-size: 20px;
    font-weight:300;
    color: #1f2228;
}
.panel_tag-content-phrase{
    display:block ;
    margin-top: 10px;
    padding-left:15px;
    font-weight:200;
    color: #190712
}

@media only screen and (max-width: 800px){
    #mapcontainer{
        display: none;
    }
    #panel{
        position: static;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .panel_tag{
        float: none;
        display: inline-block;
    }
}