body{
    margin: 0;
    font-family: "Open Sans",Arial,sans-serif;
}
nav{
    width:100%;
    height:60px;
    font-size:14px;
    font-weight:400;
    background-color:#35c156;
    position:fixed;
    top:0px;
    z-index:1;
}

#menu{
    width: 60px;
    height: 60px;
    display:block;
    background-image:url(../img/index/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer;
    float: left;
    position: relative;
    top:-60px;
}
#logo{
    width: 100px;
    height: 60px;
    margin-left: 100px;
    background-image:url(../img/index/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    position: relative;
    top:-60px;
}
#topbar{
    height: 60px;
    width: 572px;
    margin: auto;
    padding-left: 0;
    font-size:14px;
    font-weight:600;
}
#topbar li{
    width: 92px;
    display:inline-block;
}
#topbar li a{
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    border-top: 4px solid transparent
}
#right_topbar{
    font-size:14px;
    text-transform:uppercase;
    font-weight:600;
    display:inline-block;
    height: 60px;
    margin-top:0;
    margin-bottom:0;
    margin-left:0;
    padding-left:0;
    float:right;
    position: relative;
    top: -60px;
}
#right_topbar li{
    display:inline-block;
    margin-right:12px;
}
#right_topbar li a{
    font-weight:500;
    font-size:14px;
    color:#000000;
    cursor:pointer;
    display:inline-block;
    text-decoration:none;
    padding-top:15px;
    padding-right:12px;
    padding-bottom:0;
    padding-left:12px;
    border-top:4px solid transparent;
}

section{
    display: none;;
}

footer{
    background-color:#252525;
}
footer p{
    margin:0px 30px;
    padding:30px;
    text-align:center;
    color: #c6cdc7
}

#side_menu{
    height: 100%;
    width: 450px;
    position:fixed;
    z-index:2;
    top: 60px;
    left:0px;
    background-color: #333333;
}

#side_menu > div{
    width: 100%;
    height: 60px;
    background-color: #252525
}

#side_menu ul{
    margin: 0;
    padding:35px;
    color:white;
    list-style: none;
}

#side_menu ul li{
    border-bottom: 1px solid #4b4b4b;
    width: 100%;
    height: 60px;
}
#side_menu ul li a{
    display: inline-block;
    width: 100%;
    color: white;
    line-height: 60px;
    text-decoration: none;
}
#side_menu ul li a span{
    background-image: url("../img/index/right_arrow.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    height: 60px;
    width: 4px;
}



@media  only screen and (max-height:496px){
    #side_menu {
        overflow-y: scroll;
    }
}

@media only screen and (max-width: 768px){
    #side_menu{
        top: 60px;
        width: 100%;
    }
}

@media only screen and (max-width: 1200px){
    #topbar{
        display: none;
    }
    #logo{
        position: static;
        display: block;
        float: none;
        margin:auto;
        top:0;
    }
    #menu{
        top:0;
    }
    #right_topbar{
        top:-60px;
    }
}
