body{
    margin: 0;
}
nav{
    width:100%;
    height:60px;
    font-size:14px;
    font-weight:400;
    background-color:#35c156;
    position:fixed;
    top:0px;
    z-index:1;
}

#hamburger{
    width: 60px;
    height: 60px;
    display:block;
    background-image:url(../img/index/hamburge.svg);
    cursor:pointer;
    float: left;
    position: relative;
    top:-60px;
}
#logo{
    width: 100px;
    height: 60px;
    background-image:url(../img/index/logo.svg);
    float:left;
    position: relative;
    top:-60px;
}
#topbar{
    height: 60px;
    width: 567px;
    margin: auto;
    padding-left: 0;
    font-size:14px;
    font-weight:600;
}
#topbar li{
    width: 92px;
    display:inline-block;
}
#topbar li a{
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    border-top: 4px solid transparent
}
#help{
    font-size:14px;
    text-transform:uppercase;
    font-weight:600;
    display:inline-block;
    height: 60px;
    margin-top:0;
    margin-bottom:0;
    margin-left:0;
    padding-left:0;
    float:right;
    position: relative;
    top: -60px;
}
#help li{
    display:inline-block;
    margin-right:12px;
}
#help li a{
    font-weight:500;
    font-size:14px;
    color:#000000;
    cursor:pointer;
    display:inline-block;
    text-decoration:none;
    padding-top:15px;
    padding-right:12px;
    padding-bottom:0;
    padding-left:12px;
    border-top:4px solid transparent;
}
footer{
    background-color:#252525;
}
footer p{
    margin:0px 30px;
    padding:30px;
    text-align:center;
    color: #c6cdc7
}

@media only screen and (max-width: 1200px){
    #topbar{
        display: none;
    }
    #logo{
        position: static;
        display: block;
        float: none;
        margin:auto;
        top:0;
    }
    #hamburger{
        top:0;
    }
    #help{
        top:-60px;
    }
}