body{
    margin: 0;
}
nav{
    width:100%;
    height:60px;
    overflow: hidden;
    font-size:14px;
    font-weight:400;
    background-color:brown;
    position:fixed;
    top:0px;
    z-index:1;
}

#hamburger{
    width: 24px;
    height: 24px;
    padding: 23px 10px 0;
    display:block;
    background-image:url(../img/index/hamburge.svg);
    cursor:pointer;
    float: left;
}
#logo{
    width: 100px;
    height: 50px;
    margin: 20px 50px;
    font-weight:200;
    font-size:18px;
    background-image:url(../img/index/logo.svg);
    float:left;
}
#topbar{
    font-size:14px;
    font-weight:600;
    display:inline-block;
    margin-top:0;
    margin-left:50px;
    padding-left:10px;
    float:left;
}
#topbar li{
    display:inline-block;
    margin-right:12px;
}
#topbar li a{
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    border-top: 4px solid transparent
}
#help{
    font-size:14px;
    text-transform:uppercase;
    font-weight:600;
    display:inline-block;
    margin-top:0;
    margin-bottom:0;
    margin-left:0;
    padding-left:0;
    float:right;
}
#help li{
    display:inline-block;
    margin-right:12px;
    border-color:#DA0000;
}
#help li a{
    font-weight:500;
    font-size:14px;
    color:#000000;
    cursor:pointer;
    display:inline-block;
    text-decoration:none;
    padding-top:15px;
    padding-right:12px;
    padding-bottom:0;
    padding-left:12px;
    border-top:4px solid transparent;
}
footer{
    background-color:#252525;
}
footer p{
    margin:0px 30px;
    padding:30px;
    text-align:center;
    color: #c6cdc7
}